<h1 mat-dialog-title>{{title}}</h1>
<form [formGroup]="formRegister" (ngSubmit)="onSubmit()">
    <div mat-dialog-content fxLayout="column" fxLayoutAlign="space-around stretch">
        <div fxLayout="row" fxLayoutAlign="space-between stretch">
            <mat-form-field fxFlex="100">
                <input matInput type="text" formControlName="nome" autocomplete="nome" placeholder="Nome">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between stretch">
            <mat-form-field fxFlex="100">
                <input matInput type="text" formControlName="sobrenome" autocomplete="sobrenome" placeholder="Sobre Nome">
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions>
        <div fxLayout="row" fxLayoutAlign="end end">
            <button mat-button color="primary" type="submit" [disabled]="!formRegister.valid">
                <mat-icon>done</mat-icon>&nbsp;Salvar
            </button>
        </div>
    </div>
</form>
<div fxLayout="row" fxLayoutAlign="end end">
    <button mat-button color="warn" (click)="cancelar()">Cancel</button>
</div>