<div fxLayout="row" fxLayoutAlign="space-around center">
    <div align="center" fxLayout="row" fxLayoutAlign="center center" class="register-form">

        <form role="form" [formGroup]="formRegister" (ngSubmit)="onSubmit()">

            <mat-card class="mat-elevation-z8" flex="80">

                <mat-card-title>Sign up</mat-card-title>

                <mat-card-content fxLayout="column" fxLayoutAlign="space-around stretch">

                    <div fxLayout="row" fxLayoutAlign="space-between stretch">
                        <mat-form-field fxFlex="45">
                            <input matInput type="text" formControlName="nome" autocomplete="nome" placeholder="Nome">
                        </mat-form-field>
                        <mat-form-field fxFlex="45">
                            <input matInput type="text" formControlName="sobrenome" autocomplete="sobrenome" placeholder="Sobre Nome">
                        </mat-form-field>
                    </div>

                    <mat-form-field>
                        <input matInput type="text" formControlName="endereco" autocomplete="endereco" placeholder="Endereço">
                    </mat-form-field>

                    <div fxLayout="row" fxLayoutAlign="space-between stretch">
                        <mat-form-field fxFlex="75">
                            <input matInput type="text" formControlName="cidade" autocomplete="cidade" placeholder="Cidade">
                        </mat-form-field>

                        <mat-form-field fxFlex="15">
                            <mat-select matNativeControl placeholder="Estado" formControlName="estado">
                                <mat-option *ngFor="let estado of estados" [value]="estado">
                                    {{estado}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>

                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between stretch">
                        <mat-form-field fxFlex="45">
                            <input [imask]="mask" matInput type="text" formControlName="telefone" autocomplete="telefone" placeholder="Telefone">
                        </mat-form-field>
                        <mat-form-field fxFlex="45">
                            <input matInput type="text" formControlName="celular" autocomplete="celular" placeholder="Celular">
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between stretch">
                        <mat-form-field fxFlex="100">
                            <input matInput type="email" formControlName="email" class="form-control" value="" autocomplete="email" placeholder="E-mail">
                        </mat-form-field>
                    </div>

                    <div fxLayout="row" fxLayoutAlign="space-between stretch">

                        <mat-form-field fxFlex="45">
                            <input matInput type="password" formControlName="password1" autocomplete="off">
                            <mat-placeholder>
                                <mat-icon>lock</mat-icon> New password
                            </mat-placeholder>
                        </mat-form-field>
                        <mat-form-field fxFlex="45">
                            <input matInput type="password" formControlName="password2" class="form-control" autocomplete="off">
                            <mat-placeholder>
                                <mat-icon>lock_outline</mat-icon> Password confirmation
                            </mat-placeholder>
                        </mat-form-field>

                    </div>


                    <div fxLayout="row" fxLayoutAlign="end end">
                        <button mat-button color="primary" type="submit" [disabled]="!formRegister.valid">
                <mat-icon>done</mat-icon>&nbsp;Register
              </button>
                    </div>



                </mat-card-content>
            </mat-card>
        </form>


    </div>
</div>