<mat-card>
    <h3>Produtoras
        <button style="margin-right: 0px" mat-button color="primary" (click)="novoCadastro()">
            <mat-icon>add_circle</mat-icon>
        </button></h3>
</mat-card>
<div class="editable">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
</div>

<div class="table-container mat-elevation-z8 editable">

    <table mat-table [dataSource]="produtoras" style="width: 100%;" matSort>
        <ng-container matColumnDef="produtora">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Produtora </th>
            <td mat-cell *matCellDef="let element">{{element.produtora}} </td>
        </ng-container>

        <ng-container matColumnDef="dataatualizacao">
            <th mat-header-cell *matHeaderCellDef> Data Atualização </th>
            <td mat-cell *matCellDef="let element"> {{element.dataatualizacao.toDate() | date: 'medium'}}</td>
        </ng-container>

        <ng-container matColumnDef="operations">
            <th mat-header-cell *matHeaderCellDef>Operações</th>
            <td mat-cell *matCellDef="let element">
                <button mat-button color="primary" (click)="edit(element)">
                    <mat-icon>edit</mat-icon>
                </button>
                <button mat-button color="accent" (click)="del(element)">
                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator #paginator [pageSize]="5" [pageSizeOptions]="[5, 10, 15, 25]">
    </mat-paginator>
</div>